/* main */

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    background-color: gray;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    color: antiquewhite;
    text-shadow: 1px 1px 3px black;
    overflow: hidden;
    cursor: default;
}

.hidden {
    display: none !important;
}

.blue {
    color: dodgerblue;
}


/* weather */

.top {
    display: flex;
    justify-content: flex-end;
}

#weather {
    margin-right: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
}


/* clock */

#clock {
    display: flex;
    justify-content: center;
    font-size: 175px;
    margin-top: 150px;
    margin-bottom: 32px;
}


/* center */

#center {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


/* login */

#login-form {
    font-size: 20px;
}

#login-form input:first-child {
    width: 300px;
    height: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    margin-right: 10px;
}

#login-form input:first-child::placeholder {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 32px
}

#login-form input:last-child {
    width: 100px;
    height: 56px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    margin-right: 10px;
    cursor: pointer;
}

#hi {
    font-size: 75px;
    cursor: pointer;
    margin: 0px;
    margin-bottom: 32px;
}


/* todo */

#todo {
    margin-top: 32px;
    align-items: center;
}

#todo-form {
    font-size: 20px;
    margin-bottom: 32px;
}

#todo-form input:first-child {
    width: 300px;
    height: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    margin-right: 10px;
}

#todo-form input:first-child::placeholder {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 32px
}

#todo-list {
    list-style-type: none;
    display: block;
    list-style: none;
    padding-left: 0px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
}


/* background */

img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* quote */

#quote {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

#quote span:first-child {
    font-size: 30px;
}

#quote span:last-child {
    font-size: 20px
}